port: 9000
dynamodb:
  host: "http://localhost:8000"
  region: "asia"
  is_local: false
  task_table: "task_table"
  group_table: "group_table"
machinery:
  broker_namespace: "worker-namespace"
  broker_host: "redis://localhost:6379/3"
  result_expiry: 3600 # seconds